@import './fonts.css';

@import 'tailwindcss';

@theme {
	--font-handwritten: 'Biro Script', cursive;

	--color-background: #fff;
	--color-foreground: #000;

	--spacing-lh: 1lh;
	--spacing-ch: 1ch;
}

@layer base {
	label,
	button {
		cursor: pointer;
	}

	s {
		position: relative;
		text-decoration: none;

		&::after {
			content: '';
			position: absolute;
			inset: 50% -0.25ch auto;
			translate: 0 -50%;
			border-bottom: 2px solid red;
			rotate: -5deg;
		}
	}
}

/* actions, intputs */

@utility action-base {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.25ch 1ch;
}

@utility action {
	@apply action-base border border-foreground bg-foreground text-background;
}

@utility input {
	@apply action-base border;
}
