@font-face {
	font-family: 'Biro Script';
	src:
		url('/Biro_Script_reduced.woff2') format('woff2'),
		url('/Biro_Script_reduced.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
