@font-face {
	font-family: 'Biro Script';
	src:
		url('/Biro_Script_reduced.otf') format('opentype'),
		url('/Biro_Script_reduced.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
